#background {
    content: url('FootballField.png');
    height: 747px;
    transform: rotate(90deg);
    position: absolute;
    z-index: -1;
    
    
  }

#players {
    text-align: center;
    vertical-align: middle;
    line-height: 35px; 
    z-index: 900;
}
