#background {
    content: url('FootballField.png');
    height: 98vh;
    max-height: 100%;
    transform: rotate(90deg);

    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
  }

#players {
    text-align: center;
    vertical-align: middle;
    line-height: 35px; 
}
